*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#d3862e, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #005af5;
}

form button{
    width: 100%;
    padding:  10px;
    margin-top: 30px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1a5edb;
}

form input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}